<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<script type=text/javascript>
  $(function() {
    $('a#submitbutton').bind('click', function() {
    // We can use GET if it's easier.
    console.log($('a#submitbutton'));
    console.log($('input[name="csrfmiddlewaretoken"]'));

      $.getJSON('/sub/', {
        email: $('input[name="email"]').val(),
       csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
      }, function(data) {
      $("#result").text(data.result);
      });
      return false;
    });


    $('a#postbutton').bind('click', function() {
    // We can use GET if it's easier.
    console.log($('a#postbutton'));
    console.log($('input[name="csrfmiddlewaretoken"]'));

      $.post('/sub/', {
        email: $('input[name="email"]').val(),
      }, function(data) {
      $("#result").text(data.result);
      }, 'json');
      return false;
    })
  });

</script>

</head>
<body>
<form method="POST"> 
{% csrf_token %}
<input type="text" id="email" width="20" name="email">
<br>
<a href=# id=submitbutton>submit(get)</a>
<a href=# id=postbutton>submit(post)</a>
</form>
<hr>
<!-- crap...forgot about CSRF. I'll have to add this to this form. -->

<div style="width:80%; height:20%;" id="result">
</div>

</body>
</html>
