<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<script type=text/javascript>
  $(function() {
    $('a#submitbutton').bind('click', function() {

    console.log($('a#submitbutton'));
    console.log($('input[name="csrfmiddlewaretoken"]'));

      $.getJSON('/sub', {
        email: $('input[name="email"]').val(),
       csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
      }, function(data) {
      $("#result").text(data.result);
      });
      return false;
    });
  });
</script>

</head>
<body>
<form method="POST"> 
{% csrf_token %}
<input type="text" id="email" width="20" name="email">
<br>
<a href=# id=submitbutton>submit</a>
</form>
<hr>
<!-- crap...forgot about CSRF. I'll have to add this to this form. -->

<div style="width:80%; height:20%;" id="result">
</div>

</body>
</html>
